<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yummy Recipe</title>

    {% block stylesheets %}
    <link rel="stylesheet" href={{ asset('build/RecipeCardStyles.css')}} />
    <link rel="stylesheet" href={{asset('build/HeaderStyles.css')}}/>
    <link rel="stylesheet" href={{asset('build/slideShow.css')}} />
    <link rel="stylesheet" href={{asset('build/footer.css')}} />

    {% endblock %}
  </head>

  {% block body%}
  <h1> wa </h1>
  {% endblock %}

</html> 